<header class="header container">
  <div class="header-container">
    <div class="logo-container">
      <img
        srcset="/img/image_1.png 1x, /img/image_2.png 2x"
        src="/img/image_1.png"
        width="80"
        height="80"
        alt="logo"
        class="logo-img"
      />
      <p class="logo-text">jefferson*</p>
    </div>

    <div class="menu-btn" id="toggleButton">Menu</div>

    <nav class="header-nav">
      <ul class="nav-list" id="links">
        <li><a class="nav-link" href="#about">About me</a></li>
        <li><a class="nav-link" href="#benefits">Benefits</a></li>
        <li><a class="nav-link" href="#projects">Projects</a></li>
        <li><a class="nav-link" href="#faq">FAQ</a></li>
      </ul>
    <button class="header-btn" type="button">Order the project</button> 
        <nav class="header-menu">
        <a href="#menu" class="menu-current">Menu</a>
        <a href="#about" class="scroll-link">Aboutme</a>
        <a href="#benefits" class="scroll-link">Benefits</a>
        <a href="#projects" class="scroll-link">Projects</a>
        <a href="#faq" class="scroll-link">FAQ</a>
    </nav>

    <a href="#footer" class="anchor-footer">Order the project</a>

    <button class="burger-btn" type="button" id="openMenuBtn" data-menu-open>
      <svg class="burger-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>

<div id="menu" class="mob-menu">
  <button class="mobile-menu-close" type="button" id="closeMenuBtn">
    <svg class="burger-icon" width="28" height="28">
      <use href="/img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="menu-list-mob">
    <li class="menu-item-mob">
      <a href="#about-me" class="scroll-link">About me</a>
    </li>
    <li class="menu-item-mob">
      <a href="#benefits" class="scroll-link">Benefits</a>
    </li>
    <li class="menu-item-mob">
      <a href="#projects" class="scroll-link">Projects</a>
    </li>
    <li class="menu-item-mob"><a href="#faq" class="scroll-link">FAQ</a></li>
  </ul>

  <div class="footer-mob-btn">
    <a href="#footer" class="anchor-footer-mob" id="orderProjectBtn"
      >Order the project</a
    >
  </div>
</div>

<!-- <script src="../js/header.js" type="module"></script> -->
