.content-benefits {
  background-color: black;
  height: 675px;
  width: 100%;
}

.container-benefits {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 320px;
}

.title-benefits {
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    font-weight: 600;
    padding-top: 24px;
    align-self: flex-start;
  }

  .list-benefits-content {
    padding-top: 40px;
  }

  .list-benefits {
    display: flex;
    flex-wrap: wrap;  
    /* justify-content: center; */
    gap: 20px; 
    list-style: none; 
    padding: 0;
  }
  
  .list-benefits li {
    flex: 1 1 calc(50% - 20px); 
    width: calc(40% - 20px);
  }

  .li-benefits-one {
    background-color: rgba(36, 37, 39, 1);
    border-radius: 20px;
    width: 332px;
    height: 270px;
    padding-right: 24px;
  }

  .block-text {
    padding-left: 24px;
  } 

  .li-benefits-two {
    background-color: rgba(36, 37, 39, 1);
    border-radius: 20px;
    padding-right: 24px;
  }

  .li-benefits-three {
    background-color: rgba(36, 37, 39, 1);
    border-radius: 20px;
  }

  .li-benefits-fore {
    background-color: rgba(36, 37, 39, 1);
    border-radius: 20px;
  }
  
  .list-benefits-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 680px;
    height: 556px;
  }
  
  .box-li-benefits {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 270px;
    /* box-sizing: border-box; */
    padding-right: 24px;
  }
  
  .benefits-expertise {
    color: rgba(250, 250, 250, 1);
    font-weight: 600;
    font-size: 20px;
  }
  
  .text-benefits-expertise {
    color: rgba(250, 250, 250, 0.6);
    width: 284px; 
    font-weight: 500; 
    font-size: 16px;
    line-height: 30px;
    font: inter Tight;
  }
  
  .btn-benefits {
    display: block;
    width: 187px;
    height: 55px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    background-color: transparent;
    color: rgba(250, 250, 250, 1);
    border-radius: 60px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 64px;
    margin-right: 610px;
    margin-left: auto;
  }

  .benefits-icon {
    stroke: rgba(250, 250, 250, 1);
    fill: rgba(237, 59, 68, 1);
  }

  .wrapper-icon {
    background-color: rgba(237, 59, 68, 1);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
  }
  
