.faq-container {
  margin-top: 64px;
}

.faq-title {
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.accordion {
  width: 100%;
  margin: auto;
}

.accordion-item:nth-child(odd) {
  border-left: none;
}

.accordion-item:nth-child(even) {
  border-right: none;
}

.accordion-item {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;

  margin: 0;

  border: 1px solid rgba(250, 250, 250, 0.2);
  /* position: relative; */

  border-left: none;
  border-right: none;
}

.accordion-text {
  padding-bottom: 16px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.accordion-content {
  color: #fafafa99;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.accordion-button {
  border: none;
  background-color: transparent;
}

.svg {
  
  fill: #fff;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

@media (min-width: 768px) {
  .faq-container {
    margin-top: 96px;
  }

  .svg {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .faq-container {
    margin-top: 164px;
  }

  .accordion {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .accordion-item {
    width: 100%;
    width: calc(50% - 10px);
    border-left: 1px solid rgba(250, 250, 250, 0.2);
  }

  .accordion-item:nth-child(odd) {
    padding-right: 32px;
  }

  .accordion-item:nth-child(even) {
    padding-left: 32px;
  }
}
